// Global variables and mixins

@import 'css3';

$dark_blue: #1B4F82;
$blue: #226598;
$gray_border: #999;
$green: #1b8342;
$red: #b61d1d;



@mixin item-list {
  margin: 0; padding: 0;

  border-bottom: 1px solid #dfdfdf;

  li {  
    margin: 0; padding: 0.3em 0.4em;
    list-style: none;
    border-top: 1px solid #dfdfdf;
  }
}

@mixin full-width-bar {
  position: relative;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 0; bottom: 0;
    width: 99999px;
  }
  
  &:before {
    right: 100%;
  }

  &:after {
    left: 100%;
  }

}


@mixin note {
  margin: 1em; padding: 0.5em 1em;
  background: #fff77c;
  @include box-shadow( 2px 2px 8px #3a3701 );
}


@mixin clearfix {
  zoom: 1;

  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
