!!! 5
%html{ lang: "en" }
  %meta{ charset: "utf-8" }
  %title SSE Review Sessions 20112
  %link{ rel: "stylesheet", type: "text/css", href: "style.css" }

  %body

    %header
      %img{ src: "images/logo.png", alt: "Society of Software Engineers logo" }

    %h1 Winter 2011 Review Sessions

    %section.course
      %h1 4010-361 Software Engineering

      %article.review
        %h1 Exam 1

        %time{ datetime: "2012-01-09T18:00-05:00" } Jan. 9, 2012 - 6 PM
        to
        %time{ datetime: "2012-01-09T20:00-05:00" } 8 PM
        
        .lcoation (GOL) 70-2400

      %article.review
        %h1 Exam 2

        %time{ datetime: "2012-02-05T14:00-05:00" } Feb. 5, 2012 - 2 PM
        to
        %time{ datetime: "2012-02-05T16:00-05:00" } 4 PM
        
        .location GCCIS Auditorium (70-1400)

      %article.review
        %h1 Final Exam

        %time{ datetime: "2012-03-01T18:00-05:00" } March. 1, 2012 - 6 PM
        to
        %time{ datetime: "2012-03-01T20:00-05:00" } 8 PM
        
        .location GCCIS Auditorium (70-1400)

    %section.course
      %h1 4010-350 Personal Software Engineering

      %article.review
        %h1 Midterm

        %time{ datetime: "2012-01-15T16:00-05:00" } Jan. 15, 2012 - 4 PM
        to
        %time{ datetime: "2012-01-15T18:00-05:00" } 6 PM
        
        .location SSE Mentoring Lab

      %article.review
        %h1 Final Exam

        %time{ datetime: "2012-02-26T14:00-05:00" } Feb. 26, 2012 - 2 PM
        to
        %time{ datetime: "2012-02-26T16:00-05:00" } 4 PM
        
        .location SSE Mentoring Lab

    %section.course
      %h1 4003-241 Problem-Based Intro to CS

      %article.review
        %h1 Midterm

        %time{ datetime: "2012-01-15T18:00-05:00" } Jan. 15, 2012 - 6 PM
        to
        %time{ datetime: "2012-01-15T20:00-05:00" } 8 PM

        .location SSE Mentoring Lab

      %article.review
        %h1 Final Exam  

        %time{ datetime: "2012-02-26T18:00-05:00" } Jan. 15, 2012 - 6 PM
        to
        %time{ datetime: "2012-02-26T20:00-05:00" } 8 PM
        
        .location SSE Mentoring Lab

    %section.course
      %h1 4003-242 Data Structures

      %article.review
        %h1 Midterm

        %time{ datetime: "2012-01-15T14:00-05:00" } Jan. 15, 2012 - 2 PM
        to
        %time{ datetime: "2012-01-15T16:00-05:00" } 4 PM

        .location GCCIS Auditorium (70-1400)

      %article.review
        %h1 Final Exam  

        %time{ datetime: "2012-02-29T18:00-05:00" } Feb. 29, 2012 - 6 PM
        to
        %time{ datetime: "2012-02-29T20:00-05:00" } 8 PM
        
        .location GCCIS Auditorium (70-1400)

    %section.course
      %h1 4003-334 Computer Science 4

      %article.review
        %h1 Exam 2

        %time{ datetime: "2012-02-05T12:00-05:00" } Feb. 5, 2012 - 12 PM
        to
        %time{ datetime: "2012-02-05T14:00-05:00" } 2 PM

        .location SSE Mentoring Lab

      %article.review
        %h1 Final Exam  

        %time{ datetime: "2012-02-26T16:00-05:00" } Feb. 26, 2012 - 6 PM
        to
        %time{ datetime: "2012-02-26T18:00-05:00" } 8 PM
        
        .location SSE Mentoring Lab
