!!! 5
%html{ lang: "en" }
  %meta{ charset: "utf-8" }
  %meta{ name: "viewport", content: "width=device-width" }
  %title SSE Review Sessions 2121
  %link{ rel: "stylesheet", type: "text/css", href: "style.css" }

  %body

    %header
      %img{ src: "images/logo.png", alt: "Society of Software Engineers logo" }

    %h1.title Fall 2012 Review Sessions

    %section.course
      %h1 4010-361 Software Engineering

      %article.review
        %h1 Exam 1 Review

        %time{ datetime: "2012-09-22T16:00-04:00" } Sept. 22, 2012 - 4 PM
        to
        %time{ datetime: "2012-09-22T18:00-04:00" } 6 PM
        
        .location (GOL) 70-1400

      %article.review
        %h1 Exam 2 Review

        %time{ datetime: "2012-10-21T16:00-04:00" } Oct. 21, 2012 - 4 PM
        to
        %time{ datetime: "2012-10-21T18:00-04:00" } 6 PM
        
        .location GCCIS Auditorium (70-1400)

      %article.review
        %h1 Final Review

        %time{ datetime: "2012-11-11T16:00-04:00" } Nov. 11, 2012 - 4 PM
        to
        %time{ datetime: "2012-11-11T18:00-04:00" } 6 PM
        
        .location GCCIS Auditorium (70-1400)

    %section.course
      %h1 4003-241 Problem-Based Intro to CS

      %article.review
        %h1 Midterm Review

        %time{ datetime: "2012-09-30T16:00-04:00" } Sept. 30, 2012 - 4 PM
        to
        %time{ datetime: "2012-09-30T18:00-04:00" } 6 PM

        .location GCCIS Auditorium (70-1400)

      %article.review
        %h1 Final Review

        %time{ datetime: "2012-11-11T14:00-04:00" } Nov. 11, 2012 - 2 PM
        to
        %time{ datetime: "2012-11-11T16:00-04:00" } 4 PM
        
        .location GCCIS Auditorium (70-1400)

    %section.course
      %h1 4003-243 O-O Programming

      %article.review
        %h1 Midterm Review

        %time{ datetime: "2012-09-30T18:00-04:00" } Sept. 30, 2012 - 6 PM
        to
        %time{ datetime: "2012-09-30T20:00-04:00" } 8 PM

        .location SSE Mentoring Lab

      %article.review
        %h1 Final Review

        %time{ datetime: "2012-11-14T18:00-04:00" } Nov. 14, 2012 - 6 PM
        to
        %time{ datetime: "2012-11-14T20:00-04:00" } 8 PM
        
        .location SSE Mentoring Lab

      %aside
        :markdown
          Free pizza will be available at all review sessions!

          Check out the [Society of Software Engineers][1] on Facebook or join
          the [SSE Events group][2] to RSVP and be notified about all of our
          upcoming reviews and events.

          Have questions or comments about any of our reviews, or do you want a
          review for a course not listed here? Email
          <mentoring@sse.se.rit.edu>.

          [1]: https://www.facebook.com/pages/Society-of-Software-Engineers/51330367735
          [2]: https://www.facebook.com/groups/190530570984715/
