@import 'globals';

header, nav, article {
    display: block;
}


html {
    margin: 0; padding: 0;
}

body {
    margin: 0 auto; padding: 0;
    max-width: 960px;
    font-family: sans-serif;
    color: #222;
}

header {
    padding: 8px;
    text-align: center;

    color: #fff;
    background: $dark_blue;
    background-image: linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -moz-linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -webkit-linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -o-linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -khtml-linear-gradient( $blue, $dark_blue 99%, #333 99% );

    @media screen and (min-device-width: 640px) {
        float: left;
        width: 250px; height: 59px;
        @include box-shadow( 0 1px 3px darken( $dark_blue, 20% ) );
    }

}

h1 {
    margin: 0.6em 0 0.4em; padding: 0 0.4em;
    font-size: 1.3em;
}


.title {
    margin: 0;

    @media screen and (min-device-width: 640px) {
        margin-left: 0.5em;
        padding: 0.9em 0.5em;
        display: inline-block;
        font-size: 1.7em;
    }
}

.course {

    margin: 0.5em 0; padding-bottom: 0.5em;
    border-top: 1px solid #999;

    h1 {
        font-size: 1.2em;
    }

    .review {

        margin: 0 0.4em 0.4em;

        h1 {
            margin-left: 0; padding-left: 0;
            font-size: 1em;
            font-weight: bold;

            @media screen and (min-device-width: 640px) {
                display: inline-block;
                &:after {
                    content: " - ";
                }
            }
        }
    }
}
