@import 'globals';

header, nav, article {
    display: block;
}


html {
    margin: 0; padding: 0;
}

body {
    margin: 0; padding: 0;
    font-family: sans-serif;
    color: #222;
}

header {
    padding: 0.5em;
    text-align: center;

    color: #fff;
    background: $dark_blue;
    background-image: linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -moz-linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -webkit-linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -o-linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -khtml-linear-gradient( $blue, $dark_blue 99%, #333 99% );

}

h1 {
    margin: 0.6em 0 0.4em; padding: 0 0.4em;
    font-size: 1.3em;
}


.title {
    margin-bottom: 0;
}

.course {

    margin: 0.5em 0; padding-bottom: 0.5em;
    border-top: 1px solid #999;

    h1 {
        font-size: 1.2em;
    }

    .review {

        margin: 0 0.4em;

        h1 {
            margin-left: 0; padding-left: 0;
            font-size: 1em;
            font-weight: bold;
        }
    }
}
