@import 'globals';

header, nav, article {
    display: block;
}


html {
    margin: 0; padding: 0;
}

body {
    margin: 0 auto; padding: 0;
    max-width: 820px;
    font-family: sans-serif;
    color: #222;
    position: relative;
}

header {
    padding: 8px;
    text-align: center;

    color: #fff;
    background: $dark_blue;
    background-image: linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -moz-linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -webkit-linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -o-linear-gradient( $blue, $dark_blue 99%, #333 99% );
    background-image: -khtml-linear-gradient( $blue, $dark_blue 99%, #333 99% );

    @media screen and (min-device-width: 640px) {
        @include box-shadow( 0 1px 3px darken( $dark_blue, 20% ) );
    }

}

h1 {
    margin: 0.6em 0 0.4em; padding: 0 0.4em;
    font-size: 1.3em;
}


.title {
    margin-top: 0.5em;

    @media screen and (min-device-width: 640px) {
        font-size: 1.7em;
        padding-bottom: 0.4em;
    }
}

.course {

    margin: 0.5em 0; padding-bottom: 0.5em;
    border-top: 1px solid #999;

    @media screen and (min-device-width: 640px) {
        width: 60%;
        border: none;
        margin-bottom: 1.5em;
    }

    h1 {
        font-size: 1.2em;
        color: $dark_blue;
    }

    .review {

        margin: 0 0.4em 0.4em;

        h1 {
            color: #222;
            margin-left: 0; padding-left: 0;
            font-size: 1em;
            font-weight: bold;

            @media screen and (min-device-width: 640px) {
                display: inline-block;
                &:after {
                    content: " - ";
                }
            }
        }

    }
}

aside {

    @media screen and (max-device-width: 640px) {
        margin: 16px 8px 8px;
        padding: 8px;
        background: $dark_blue;
        color: #fff;

        a {
            color: #fff;
        }
    }

    @media screen and (min-device-width: 640px) {
        padding: 1%;
        width: 38%;
        position: absolute;
        left: 60%; top: 120px;
        border: none;
    }
}

a {
    color: $dark_blue;

    &:hover {
        text-decoration: none;
    }
}
