header, nav, article {
  display: block; }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0 auto;
  padding: 0;
  max-width: 820px;
  font-family: sans-serif;
  color: #222;
  position: relative; }

header {
  padding: 8px;
  text-align: center;
  color: #fff;
  background: #1b4f82;
  background-image: linear-gradient(#226598, #1b4f82 99%, #333333 99%);
  background-image: -moz-linear-gradient(#226598, #1b4f82 99%, #333333 99%);
  background-image: -webkit-linear-gradient(#226598, #1b4f82 99%, #333333 99%);
  background-image: -o-linear-gradient(#226598, #1b4f82 99%, #333333 99%);
  background-image: -khtml-linear-gradient(#226598, #1b4f82 99%, #333333 99%); }
  @media screen and (min-device-width: 640px) {
    header {
      box-shadow: 0 1px 3px #091c2e;
      -moz-box-shadow: 0 1px 3px #091c2e;
      -o-box-shadow: 0 1px 3px #091c2e;
      -khtml-box-shadow: 0 1px 3px #091c2e;
      -webkit-box-shadow: 0 1px 3px #091c2e; } }

h1 {
  margin: 0.6em 0 0.4em;
  padding: 0 0.4em;
  font-size: 1.3em; }

.title {
  margin-top: 0.5em; }
  @media screen and (min-device-width: 640px) {
    .title {
      font-size: 1.7em;
      padding-bottom: 0.4em; } }

.course {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  border-top: 1px solid #999; }
  @media screen and (min-device-width: 640px) {
    .course {
      width: 60%;
      border: none;
      margin-bottom: 1.5em; } }
  .course h1 {
    font-size: 1.2em;
    color: #1b4f82; }
  .course .review {
    margin: 0 0.4em 0.4em; }
    .course .review h1 {
      color: #222;
      margin-left: 0;
      padding-left: 0;
      font-size: 1em;
      font-weight: bold; }
      @media screen and (min-device-width: 640px) {
        .course .review h1 {
          display: inline-block; }
          .course .review h1:after {
            content: " - "; } }

@media screen and (max-device-width: 640px) {
  aside {
    margin: 16px 8px 8px;
    padding: 8px;
    background: #1b4f82;
    color: #fff; }
    aside a {
      color: #fff; } }
@media screen and (min-device-width: 640px) {
  aside {
    padding: 1%;
    width: 38%;
    position: absolute;
    left: 60%;
    top: 120px;
    border: none; } }

a {
  color: #1b4f82; }
  a:hover {
    text-decoration: none; }
