!!! 5
%html{ lang: "en" }
  %meta{ charset: "utf-8" }
  %meta{ name: "viewport", content: "width=device-width" }
  %title SSE Review Sessions 20112
  %link{ rel: "stylesheet", type: "text/css", href: "../style.css" }

  %body

    %header
      %img{ src: "../images/logo.png", alt: "Society of Software Engineers logo" }

    %h1.title SSE Review Session - Personal Software Engineering

    %article.content
      :markdown
        Practice Practicum
        ------------------

        [View Instructions][1]

        [Download the practicum source][2]

        [1]: instructions.pdf
        [2]: ssemidterm.zip
